<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- إذن الاتصال الهاتفي -->
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    
    <!-- إعدادات التطبيق -->
    <application
        android:label="extract_phone"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            
            <!-- تحديد الثيم الخاص بالنشاط -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"/>
              
            <!-- Intent Filter لتحديد التطبيق كنشاط رئيسي -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        
        <!-- إعدادات خاصة بـ Flutter Plugins -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    
    <!-- السماح بعمل Query على جميع التطبيقات المتاحة لاستخدامها مع الإجراء "tel:" و "https:" -->
    <queries>
        <!-- للسماح بفتح الروابط من نوع "tel:" لاستخدام تطبيق الهاتف -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
        
        <!-- للسماح بفتح الروابط من نوع "https" لاستخدام WhatsApp -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
    </queries>
</manifest>
